$dark: #2f3138;
$black: #454950;
$grey-dark: #8c989e;
$grey: #CBD0D3;
$grey-light: #E7EAEB;
$white: #fff;

$red: #DC4E5F;
$red-light: #E67B89;

$blue: #2ba6cb;
$blue-light: #73C9E1;
$blue-lighter: #C9E1FF;

$yellow-dark: #c57a01;
$yellow: #fbad2f;


$green-dark: #3ac162;
$green: #5fcf80;
$green-lighter: #D3FFB8;