@import '../../sass/variables.scss';

.list-item__wrapper {
  padding: 10px;
  background-color: $white;
  margin-bottom: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  display: flex;
  max-width: 880px;
  min-width: 600px;
  flex-direction: row;
  transition: box-shadow 0.1s ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  }
  @media only screen and (max-width: 650px) {
    flex-direction: column;
    max-width: 650px;
    min-width: 350px;
    justify-content: center;
    align-items: center;
  }
}

.list-item__info {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 650px) {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.list-item__thumb {
  margin: 10px;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.list-item__title {
  margin: 0;
  font-size: 2rem;
}
.list-item__price {
  margin: 0;
  font-size: 1.4rem;
  color: $grey-dark;
}