.gallery-image {
  width: 130px;
  height: 130px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid #eee;
  margin-left: 20px;
  margin-bottom: 10px;
  transition: border 0.2s ease;
  &:hover {
    border: 1px solid #ccc;
  }
  @media only screen and (max-width: 650px) {
    margin-left: 0px;
    margin-right: 5px;
  }
}