html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 62.5%;
}

body {
  background-color: #eaeaea;
  font-size: 1.4em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
